################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GradeCalculator/.vs/GradeCalculator/FileContentIndex
/TicketPrice Calculator/.vs/TicketPrice Calculator/FileContentIndex/f9b83d92-75df-48e2-b70b-d7e1cc254d9c.vsidx
