################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GradeCalculator/.vs/GradeCalculator/FileContentIndex
/TicketPrice Calculator/.vs/TicketPrice Calculator/FileContentIndex/f9b83d92-75df-48e2-b70b-d7e1cc254d9c.vsidx
/TriangleTypeIdentifier/.vs/TriangleTypeIdentifier/FileContentIndex/b841a8e1-8a8f-4a60-bd40-3bd56f4dd408.vsidx
/TriangleTypeIdentifier/.vs/TriangleTypeIdentifier/FileContentIndex/922e239e-92af-4eb8-a268-c2b43dd6546d.vsidx
